# Auto detect text files and perform LF normalization
* text=auto

# C# files
*.cs text diff=csharp
*.csx text diff=csharp

# Solution files
*.sln text eol=crlf
*.csproj text eol=crlf

# Web files
*.html text
*.css text
*.js text
*.json text

# Documentation
*.md text
*.txt text
*.pdf binary

# Images
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
